@using Devq.Bids.Models

@{
    BidPart bid = Model.ContentPart;
}
<article class="bid bid-@bid.Id">
    @Display.BidPrice(ContentPart: Model.ContentPart, ContentItem: Model.ContentItem)
    <span class="who">@Display.BidAuthor(ContentPart: bid)</span>
    <span class="when">@Display.BidMetadata(ContentPart: bid)</span>
</article>
